* {
    margin: 0px;
    padding: 0px;
    background-image: url("background.jpg")
}

@font-face {
    font-family: "The Unseen";
    src: url("the_unseen.ttf");
}

#title {
    color: orange;
    font-size: 100px;
    text-align: center;
    font-family: "The Unseen";
}

#button {
    background-image: -moz-linear-gradient(5deg, #f0c74c, #cf8c20);
    background-image: -ms-linear-gradient(5deg, #f0c74c, #cf8c20);
    background-image: -o-linear-gradient(5deg, #f0c74c, #cf8c20);
    background-image: -webkit-linear-gradient(5deg, #f0c74c, #cf8c20);
    background-image: linear-gradient(5deg, #f0c74c, #cf8c20);
    border: 1px #f0c74c;
    border-radius: 5px;
    margin-left: 43%;
}

#fact_display {
    text-align: center;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    background-image: unset;
    font-weight: bolder;
}